body {
    font: 16px Georgia,'Times New Roman',serif;
    margin-top: 20px;
}

a, a:visited {
    color: black;
}

h1 {
    font: bold 24px Georgia,'Times New Roman',serif;
    margin-bottom: 20px;
}

h2 {
    display: block;
    font: bold 18px Georgia,'Times New Roman',serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    font:  18px Georgia,'Times New Roman',serif underline;
}

h3 {
    margin-top: 20px;
    font:  18px Georgia,'Times New Roman',serif underline;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font:  12px Georgia,'Times New Roman',serif underline;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font: 16px Georgia,'Times New Roman',serif;
    line-height: 140%;
}

.content {
    margin-top: 40px;
}

#headertxt {
    display: block;
    margin-top: 30px;
}

.mainboxes {
    margin-top: 40px;
}

.footer {
    color: #777;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font:  12px Georgia,'Times New Roman',serif underline;
}

.footer a, .footer a:visited {
    color: #777;
}
